# Ignore Python bytecode files
__pycache__/
**/__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/

# Ignore distribution files
dist/
build/
*.egg-info/
doc/_build/

# Ignore test and notebook cache files
.pytest_cache/
.ipynb_checkpoints/
.coverage
.coverage.*
htmlcov/

# Ignore the .env file
.env

# ignore the release notes file
.release_notes.md

# Ignore the contributing file
.contributing.md

# Ignore IDE files
.idea/
.vscode/
*.swp
*.swo
